<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="form-group">
            <label for="username">UserName:</label>
            <input
             class="form-control"
             id="username"
             name="username"
             type="text"
             ngModel
             required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input
             class="form-control"
             id="password"
             name="password"
             type="password"
             ngModel
             required>
          </div>
          <button class="btn btn-primary">LogIn</button>
        </form>
      </div>
    </div>
  </div>
